@charset "UTF-8";

#canvasTable {
	width: 80%;
	height: 700px;
	background-color: #004D40;
	border: #795548 solid 10px;
	border-radius: 5px;
}

#canvasDrawArea {
	height: 600px;
	
}

#canvasToolArea {
	background-color: #009688; 
	border-radius: 5px;
	border: #4DB6AC solid 3px;
}

#canvasColor {
	
}