@charset "UTF-8";

#galleryTable {
	width: 90%;
}

#uploadGalleryBtn {
	color: #4CAF50;
	font-weight: 700;
	margin-right: 30px;
}

#galleryCard {
	margin-top: 10px;
	margin-left: 17px;
	margin-right: 17px;
	width: 30%;
	height: 400px;
	background-color: #37474FEE;
	border: #90A4AE solid 3px;
	border-radius: 6px;
}

#galleryCardPhoto {
	background-color: #CFD8DC;	
	border-radius: 5px;
}

#galleryCardPhoto img{
	border: #37474F solid 4px;
	border-radius: 5px;
	height: 240px;
	max-width: 220px;
}

#galleryCardId {
	font-size: 9pt;
	height: 30px;
	background-color: #CFD8DC;
	border-radius: 5px;
}

#galleryCardDate {
	width: 50%;
	font-size: 9pt;
	background-color: #CFD8DC;
	border-radius: 5px;	
}

#galleryCardMemo {
	height: 60px;
	background-color: #CFD8DC;
	border-radius: 5px;	
}

#galleryCardDeleteBtn {
	width: 20%;
	height: 30px;
	background-color: #CFD8DC;
	border-radius: 5px;
}

#galleryCardDeleteBtn a {
	color: #DD2C00;
	font-weight: 700;
}

#uploadGalleryTable {
	transition: all 0.5s ease-out;
	opacity: 0;
	position: fixed;
	top: 400px;
	right: -300px;
	background-color: #546E7A;
	border: #546E7A solid 4px;
	border-radius: 5px;
	height: 100px;
}

#uploadGalleryTable td {
	background-color: #B0BEC5;
	border-radius: 4px;
}

#uploadGalleryMemo input{
	width: 90%;
	height: 40px;
	background-color: #B0BEC5;
	border: none;
	outline: none;
}

.galleryMemoColor {
	color: black;
}