@charset "UTF-8";

#writingArea {
	width: 80%;
	height: 500px;
}

#titleTr {
	height: 40px;
}

#titleTr #no {
	width: 10%;
}

#titleTr #writer {
	width: 20%;
}

#btn {
	height: 40px;
	padding-right: 20px;
}

#dateTr {
	height: 30px;
}

#writingArea #content {
	padding-left: 20px;
}

#commentArea {
	width: 80%;
	margin-top: 20px;	
}

#commentShowArea table{
	width: 100%;
}

#commentId {
	width: 10%;
}

#commentDate {
	width: 20%;	
}

#commentInputBtn {
	width: 10%;
	height: 40px;
}
